on post-fs-data
#
# MT6620 related device nodes & configuration (begin)
#
#/dev/ttyMT2 for MT6620 BT/FM/GPS usage
    chmod 0660 /dev/ttyMT2
    chown system system /dev/ttyMT2

# Turn off MT6620 by default
    chmod 0664 /sys/class/rfkill/rfkill0/state
    chown system system /sys/class/rfkill/rfkill0/state
    write sys/class/rfkill/rfkill0/state 0

# STP, WMT, GPS, FM and BT Driver
    insmod /system/lib/modules/mtk_wmt_detect.ko
    #insmod /system/lib/modules/mtk_hif_sdio.ko
    #insmod /system/lib/modules/mtk_stp_wmt.ko
    #insmod /system/lib/modules/mtk_stp_uart.ko
    #insmod /system/lib/modules/mtk_stp_gps.ko
    #insmod /system/lib/modules/mtk_stp_bt.ko
    #insmod /system/lib/modules/mtk_fm_drv.ko
    #insmod /system/lib/modules/mtk_fm_priv.ko
    #insmod /system/lib/modules/mtk_wmt_wifi.ko

# Create char device file for WMT, GPS, BT, FM, WIFI
    mknod /dev/stpwmt c 190 0;
    mknod /dev/stpgps c 191 0;
    mknod /dev/stpbt  c 192 0;
    chmod 0660 /dev/stpwmt
    chown system system /dev/stpwmt
 
    mknod /dev/wmtWifi c 153 0
    chmod 0660 /dev/wmtWifi
    chown system system /dev/wmtWifi

# BT
    chmod 0660 /dev/stpbt
    chown bluetooth radio /dev/stpbt

# GPS
    chown gps gps /dev/stpgps
    chown gps gps /sys/class/gpsdrv/gps/pwrctl
    chown gps gps /sys/class/gpsdrv/gps/suspend
    chown gps gps /sys/class/gpsdrv/gps/state
    chown gps gps /sys/class/gpsdrv/gps/pwrsave
    chown gps gps /sys/class/gpsdrv/gps/status
    chmod 0660 /dev/stpgps

# WiFi
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wpa_supplicant 0770 wifi wifi
    chown wifi wifi /data/misc/wifi

# Load WiFi Driver
#    insmod /system/lib/modules/wlan.ko
#Remove for one binary

# Char device for BT 3.0 HS
    mknod /dev/ampc0 c 151 0
    chown bluetooth bluetooth /dev/ampc0
    chmod 0660 /dev/ampc0
#
# MT6620 related device nodes & configuration (end)
#


#
# DTV NMI5625 driver
#
#//<2012/9/6-NJRTC0000-Cokychen, [8317][DRV]Add for nmi5625 DTV driver
#//<2012/12/12-18614-Cokychen, [8317][DTV] Fix ASSET issues
#//<2014/07/03-masonmau,Fix CTS isssue,change mode /dev/nmi from 664 to 600.
    chmod 0600 /dev/nmi
#//>2014/07/03-masonmau
    chown system system /dev/nmi
#//>2012/12/12-18614-Cokychen
#//>2012/9/6-NJRTC0000-Cokychen


#//<20121119 genesis: fix HP no ring after BT on vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
    mkdir /data/sr 0777
#//>20121119 genesis

# Encrypt phone function
    setprop vold.post_fs_data_done 1

on boot
    # Refer to http://source.android.com/devices/tech/storage/index.html
    # It said, "Starting in Android 4.4, multiple external storage devices are surfaced to developers through 
    #           Context.getExternalFilesDirs(), Context.getExternalCacheDirs(), and Context.getObbDirs().
    #           External storage devices surfaced through these APIs must be a semi-permanent part of the device (such as an SD card slot in a battery compartment).
    #           Developers expect data stored in these locations to be available over long periods of time."
    # Therefore, if the target has the SD card slot in a battery compartment, we need to specify SECONDARY_STORAGE (*** UN-Comment the following command ***)
    # 
    # export SECONDARY_STORAGE /storage/sdcard1

#
# ALSPS
#
# 2012/08/24-13261-kevincheng,EPL6881 Porting
#//<2012/11/19-17205-kevincheng,Fix ALSPS CTS issue
    mkdir /dev/elan_als
    mkdir /dev/elan_ps
    chmod 0660 /dev/elan_als
    chmod 0660 /dev/elan_ps
#//>2012/11/19-17205-kevincheng
# 2012/08/24-13261-kevincheng

#
# MT6620 related services (Begin)
#
service wmt_loader  /system/bin/logwrapper /system/bin/wmt_loader
	class core
	user root
	group root
	oneshot
	
service 662x_launcher /system/bin/logwrapper /system/bin/6620_launcher -b 4000000 -p /system/etc/firmware/ -d /dev/ttyMT2
    user system
    group system
    class core


service wlanLoader /system/bin/wlan_loader
    user root
    group root
    class main
    oneshot


service stp_dump /system/bin/stp_dump3
    class main
    user system
    group system net_admin
#   oneshot
#
# MT6620 related services (End)
#

#
# DTV related services (Begin)
#
#//<2012/12/5-18260-Cokychen, [8317][DTV] Fix ASSET issues
service jelly /system/bin/jellyservice
    user system
    group system audio camera graphics inet net_bt net_bt_admin net_raw sdcard_rw 
#//>2012/12/5-18260-Cokychen
#
# DTV related services (End)
#
